@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

body {
    padding-top: 30px;
    background-color: #252525;
    margin: 0px;
    color: #d4d4d4;
}

a {
    color: #27e724;
}